
#sidebar-wrapper {
  /* background-image:linear-gradient( rgb(9, 60, 77), rgb(8, 83, 38)); */   
  background-image:linear-gradient(rgb(8, 83, 38)), rgb(133, 139, 172)) 
}

#monheader{
  background-image:linear-gradient( rgb(112, 119, 133), rgb(133, 139, 172));   
}
#monfooter{
  background-image:linear-gradient(#e8eaf6, #e3f2fd);   
}
#moncontent{
  background-image:linear-gradient(#e8eaf6, #e3f2fd);   
}
#monmenu{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 14px;
  color:#000000;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.modal {
  padding: 0!important;
}
li.active {
  background-color: aqua;
  font-weight: bold;
}

.row{
  margin-top:40px;
  padding: 0 10px;
}

.clickable{
  cursor: pointer;   
}

.panel-heading span {
margin-top: -20px;
font-size: 15px;
}
.mydialog {
  width: 50%;
}
.tb-stats1 {
  width: 45%;
}
.tb-stats2 {
  width: 45%;
}
@media screen and (max-width: 1280px) {
  .mydialog {
    width: 90%;
  }
}
@media screen and (max-width: 1280px) {
  .tb-stats1 {
    width: auto;
  }
  .tb-stats2 {
    width: auto;
    margin-left:2%;
  }
}