.myBtnPlus {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#1906c5;
  font-family:Arial;
  font-style: bold;
	font-size:10px;
	padding:4px 5px; 
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myBtnPlus:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myBtnPlus:active {
	position:relative;
	top:1px;
}

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 10px;
    background:#edb009;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

table thead tr {
  background-color:aqua; 
  border:solid 0.5px;
}
.content{
  font-size: 12px;
}
.content-header{
  font-size: 12px;
}

#btitle{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 16px;
  /* color:#000000;   */
} 

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.modal {
  padding: 0!important;
}
/*  progress bar */

