/*  html,body { 
            background: url(images/eau.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
       }  */
        /* .container{
            background-image: linear-gradient(#F8F9FA, #e5e9ed); 
            height: 100%;
       } */
        #container {
            background-color: #ffff;
            height: 483px;
            margin-top: 2px;
            border: solid 5px lightskyblue;
            border-radius: 10px;
        }

        input[type=text] {
            font-size: 50px;
            background-color: moccasin;
            
        }

        label {
            font-size: 60px;
            /*background-color: moccasin;*/
            color: black;
        }

        button#categories {
            border-radius:28px;
            border:1px solid #18ab29;
            font-weight: bold;
        }

        #monheader {
            background-color: #ffff;
            margin-top: 5px;
            /* border: solid 2px lightskyblue; */
        }

        #monfooter {
            background-image: linear-gradient(#e8eaf6, #e3f2fd);
            height: 40px;
            text-align: center;
            margin-top: 1px;
            margin-bottom: 0px;
            background: linear-gradient(to top left, black 0%, lightskyblue 100%);
        }

        #monfooter p,
        a {
            color: #ffff;
        }

        .portlet {
            border: solid 2px gray;
            margin: 4px;

        }

        .portlet strong {
            font-size: 10px;
        }

        td#td1 {
            text-align: right; 
            width: 50%;
        }
        .td_result {
            font-weight:bolder;
        }

        @media screen and (max-width: 767px) {
        #logo2 {
          display: none;
        }
        }

        /* Faqs accordions*/
        .accordion {
          background-color: #eee;
          color: #444;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 100%;
          transition: 0.4s;
        }

        .active, .accordion:hover {
          background-color: #ccc;
        }

        .panel {
          padding: 0 18%;
          display: none;
          background-color: white;
          overflow: hidden;
        }

        /*Loader*/
        